@media (max-width:500px) {
  .shape {
    display: none;
  }

}

@media (max-width: 768px){
  .content {
    width: 100% !important;
  }
  .form {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}